/* Todos os direitos reservados para Kawan Desenvolvedor Fullstack.2023*/
/* GITHUB: @kawan3917
// Trabalho Acadêmico - ANÁLISE E DESENVOLVIMENTO DE SISTEMAS - ITALO BRASILEIRO*/

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Geostar&family=Poppins:wght@200;400;500;700&family=Roboto:wght@100&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rr;
  scroll-behavior: smooth;
}

/* Variáveis */
:root {
  --text-color: #021f2a;
  --bg-color: #fff;
}

/* Customização Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-thumb {
  background: transparent;
}
html::-webkit-scrollbar-track {
  background: var(--text-color);
  border-radius: 5rem;
}
section {
  padding: 50px 100px;
}

*::selection {
  color: #fff;
  background-color: var(--bg-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}
header.shadow {
  background: #fff;
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

header.shadow .logo {
  color: var(--text-color);
}

header.shadow .navbar a {
  color: var(--text-color);
}

header.shadow .navbar a::after {
  background: var(--text-color);
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--bg-color);
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--bg-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
  display: none;
}

.container {
  width: 100%;
  min-height: 650px;
  position: relative;
  display: flex;
  align-items: center;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Customização referente ao swiper das imagens*/

.swiper-pagination-bullet {
  padding: 5px;
}

.swiper-pagination-active {
  background-color: var(--bg-color) !important;
}
.Home-txt {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.Home-txt {
  z-index: 100001;
  padding: 0 100px;
}
.Home-txt span {
  color: var(--bg-color);
  font-weight: 400;
}

.Home-txt h1 {
  color: var(--bg-color);
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.9rem 2rem;
  background: var(--text-color);
  color: var(--bg-color);
  font-weight: 500;
  border-radius: 10px;
}

.btn:hover {
  background: var(--text-color);
}

/* Customização main section*/

.home-img {
  flex: 1 1 10rem;
}

.home-img img {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }

  50% {
    transform: translate(-0px, -11px);
  }

  100% {
    transform: translate(-11px, 0);
  }
}

/*customização - about home*/

.about-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.home-img img {
  border-radius: 0.1rem;
  width: 22rem;
}

.about-text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.about-text p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.9rem 0 1.8rem;
  color: #021f2a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-about {
  padding: 0.5rem 0.5rem 0.6rem;
  background: var(--text-color);
  color: var(--bg-color);
  font-weight: 300;
  border-radius: 9px;
}

.btn-about:hover {
  background: #022e40a5;
}

/* sessão conteúdo de divulgação*/

section .home-content {
  padding: 4.5rem 0 3rem;
}

.conteudo {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

.home-content {
  margin-top: 3rem;
  background: url(imagens/volocapa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 440px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}

.home-text-content {
  padding-left: 35px;
}

.home-text-content h1 {
  color: var(--bg-color);
  font-size: 1.5rem;
  margin-bottom: -8px;
  font-family: Arial, Helvetica, sans-serifs;
}

.customSpan {
  font-weight: 100;
}

.divulgation-section h1 {
  text-align: center;
}

#divulgationID {
  font-size: 1rem;
  font-weight: 200;
  color: var(--bg-color--);
}

/*  section Services and privacity*/
.heading {
  text-align: center;
}

.heading h1 {
  font-size: 1.7rem;
  font-weight: bolder;
  color: var(--text-color);
}

.heading span {
  border-bottom: 3px solid var(--text-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.services-container .box {
  text-align: center;
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 0 2rem 0 0;
  box-shadow: 10px 11px 11px rgb(14 55 54 / 15%);
}

.services-container .box .bx {
  padding: 10px;
  color: var(--text-color);
  font-size: 28px;
  background-color: var(--bg-color);
  border-radius: 4px;
}

.services-container .box h2 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem;
}

.services-container .box:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: 0.5s;
  cursor: pointer;
}

.services-container .box:hover .bx {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s;
}
/* divulgação paris volo*/

.divulgation-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--text-color);
  text-align: center;
}

.divulgation-title span {
  border-bottom: 3px solid var(--text-color);
}

.divulgation-text {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.2rem;
  color: #021f2a;
  text-align: center;
}

.divulgation-text p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
  color: var(--text-color);
  font-family: Verdana, Tahoma, sans-serif;
}
/* swipper paris*/

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: var(--bg-color--);
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(1.2rem);
  background-color: var(--text-color);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main > div hr {
  display: block;
  background: var(--text-color);
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 500;
  background: #fff;
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.05rem;
  padding: 0.4rem 1.875rem;
}

main > div > a:hover {
  border: 0.125rem solid var(--text-color);
  color: var(--text-color);
}

/* Sessão Destinos com o Volo*/

.section-container_destinations {
  background: var(--bg-color);
  border-radius: 4rem 3rem 0 0;
}

.subSection_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-color);
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
}
.section_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color);
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  font-weight: 590;
}

.section_subtitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  color: #817e7ee2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.destination_nav {
  display: flex;
  gap: 1rem;
}

.destination_nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination_nav span:hover {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.destinations_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destinations_card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  border-radius: 2rem;
}
.destinations_card img {
  border-radius: 1rem 1rem 1rem 2rem;
}

.destination_details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #021f2a;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destinations_card:hover .destination_details {
  bottom: 1rem;
}

.destination_title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destinations_subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}
/* section newslatter*/

.subscribe-news {
  background-color: var(--text-color);
  border-radius: 2rem 2rem 0 0;
}

.subscribe-sub {
  max-width: 900px;
}

.section-container-sub {
  font-size: 1.6rem;
  color: var(--bg-color);
  text-align: center;
}

.subscribe-form {
  margin-top: 3rem;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color);
  border-radius: 2rem;
}

.subscribe-form input {
  width: 100%;
  height: 0.9rem;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.btn-send {
  padding: 0.5rem;
  width: 7rem;
  background: var(--text-color);
  color: var(--bg-color);
  font-weight: 100;
  border-radius: 1rem;
}

.btn-send:hover {
  background-color: rgb(215, 255, 242);
  transition: 0.4s;
}

/* footer links and texts*/
footer {
  position: relative;
  width: 100%;
  background: var(--text-color);
  min-height: 100px;
  padding: 10px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 1rem;
}

.col h2 {
  margin-bottom: 1rem;
}
.col .logo {
  width: 100px;
  margin-bottom: 25px;
}
.col h3 {
  color: var(--bg-color);
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}

.col .social a i {
  color: var(--bg-color);
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: rgb(246, 246, 246);
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: var(--bg-color);
}

#socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.9rem;
}

#socials a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--bg-color--);
  transition: 0.4s;
}

footer .social a:hover {
  transform: translateY(-5px);
  transition: 0.4s;
}

#copyright {
  color: rgba(255, 250, 250, 0.972);
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

/* Media - responsive to header*/
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  .Home-txt {
    font-size: 1.8rem;
  }
  .Home-txt h1 {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 881px) {
  .Home-txt {
    font-size: 1.8rem;
  }
  .Home-txt h1 {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }

  .home-img img {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    color: var(--bg-color);
    display: initial;
  }
  header.shadow #menu-icon {
    color: var(--text-color);
  }

  header .navbar {
    position: absolute;
    width: 240px;
    height: 100vh;
    top: 100%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
    transition: 0.2s ease;
    text-align: left;
  }

  .navbar a {
    color: var(--text-color);
  }

  .navbar a:hover::before {
    content: "";
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: var(--text-color);
    transition: 0.5s ease;
    opacity: 0;
  }

  .navbar a:hover::before {
    opacity: 1;
  }
  .navbar a::after {
    display: none;
  }

  .navbar.active {
    right: 0;
  }

  .Home-txt {
    visibility: hidden;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}

@media (max-width: 452px) {
  .container {
    min-height: 554px;
  }

  .Home-txt {
    visibility: hidden;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}

/* Media - responsive to Divulgation text paris */

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
}

/* Media - responsive to destinations cards*/

@media (width < 900px) {
  .destinations_grid {
    gap: 1rem;
  }
}

@media (width < 600px) {
  .destinations_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media - responsive to footer*/
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
